body {
  background-color: white;
  color: #414141;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #66BFBF;
  margin-top: 50px;
}

h2 {
  color: #66BFBF;
}

h3, a {
  color: #11999E;
}

hr {
  border-color: #5f6769;
  border-style: dotted none none none;
  border-width: 10px;
  width: 8%;
}

p {
  margin: 0;
}

.top-text-main {
  font-size: 3rem;
}

.top-text-subtitle {
  font-size: 2.5rem;
  font-weight: normal;
}

.profile-pic {
  width: 225px;
}

.skill-row {
  display: inline-block;
  width: 275px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.computer-icon, .keyboard-icon {
  width: 112px;
  margin: auto;
}

.beginning-text {
  text-decoration: underline;
}

.top-container {
  background-color: #e6f8f9;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 30%;
}

.bottom-cloud {
  position: absolute;
  left: 30%;
}
